* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}


.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255) ;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgb(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.icon {
    display: block;
    margin-left: 50px;
}

.login {
    display: block;
    width: 15%;
    justify-content: space-between;
    text-align: center;
}

.enlaces-header{
    font-weight: 300;
    margin: auto;
}

.nav .enlaces-header a {
    color: #000000 ;
    text-decoration: none;
    margin-left: 40px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover {
    color: rgb(255, 0, 0);
    text-decoration: overline;
    transition: all ease-in-out .5s;
}

a{
    justify-content: space-between;
    margin: 80px;
}
